<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <table>
        <th>Name</th>
        <th>Price</th>
    {% if menu %}
        {% for item in menu %}
        <tr>
            <th>{{item.name}}</th>
            <th>{{item.price}}</th>
        </tr>
        {% endfor %}
        
    </table>
    {% else %}
    <p>No item to display</p>
    {% endif %}
</body>
</html>